// 1. Libs
@import "bootstrap/scss/bootstrap";
@import "swiper/swiper";
@import '../../assets/libs/aos/scss/aos';
// 2. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins',
'abstracts/fonts';
// 3. Base stuff
@import 'base/animations',
'base/base',
'base/typography',
'base/helpers';
// 4. Layout-related sections
@import 'layout/cover',
'layout/header',
'layout/footer';
// 5. Components
@import 'components/button',
'components/form';
#eu-banner {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 1rem 1rem 0;
    height: 2rem;
    img {
        height: 2rem;
        height: 100%;
    }
}

h2 {
    font-size: calc(2vw + 1.5rem);
    font-weight: 400;
    width: calc(26vw + 10rem);
}

#hero {
    height: 100vh;
    background-image: url(../img/images/shaded.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    #hero-container {
        width: 85%;
        margin: auto;
        display: flex;
        h2 {
            color: white;
            font-weight: 400;
        }
    }
}

#hero.second {
    background-image: url(../img/images/hannes-egler-nT4k2JDtwTQ-unsplash.png);
}

#about-container {
    width: 85%;
    margin: auto;
    display: flex;
    padding: 8rem 0;
    align-items: center;
    #about-image {
        flex: 1;
        justify-self: center;
        img {
            width: 100%;
        }
    }
    #about-text {
        justify-self: flex-start;
        align-self: flex-start;
        flex: 1;
        * {
            margin-bottom: 2rem;
        }
        p {
            color: black;
        }
    }
}

.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    .banner-container {
        width: 85%;
        padding-top: 10rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        * {
            color: white;
        }
        h2 {
            width: 60%;
            margin-bottom: 2rem;
        }
    }
}

.banner.first {
    background-image: url(../img/images/mushegh-hakobyan-devzU7O2HAc-unsplash.png);
}

.banner.second {
    background-image: url(../img/images/florian-steciuk-F7Rl02ir0Gg-unsplash.png);
}

.banner.third {
    background-image: url(../img/images/chase-baker-WZ2VndoSaKg-unsplash.png);
}

#info {
    width: 80%;
    margin: 3rem auto;
    * {
        color: black;
    }
    p {
        font-weight: 300;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

#partners {
    #partners-container {
        width: 85%;
        margin: auto;
        padding: 8rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        #partner-icons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            img {
                height: 15em;
            }
        }
        h2 {
            margin-bottom: 4rem;
            text-align: center;
            width: 100%;
        }
        .slideshow {
            width: 80%;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
        .rotated img {
            transform: rotate(180deg);
        }
    }
}

#international {
    background-image: url(../img/images/vlad-hilitanu-X9u5ADMwaLY-unsplash.png);
    background-position: center;
    background-size: cover;
    * {
        color: white;
    }
    #international-container {
        width: 85%;
        margin: auto;
        padding: 8rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h2 {
        margin-bottom: 4rem;
        width: 40%;
    }
    #countries {
        margin-right: 12rem;
        font-size: 1.5rem;
        line-height: 2.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#international.second {
    background-position: left bottom;
    background-size: cover;
    background-image: url(../img/images/jake-blucker-OJX7gIU3E6U-unsplash.png);
}

#contact {
    input,
    textarea {
        height: 3.2rem;
        font-weight: 300;
        font-size: 1rem;
        padding: 0.7rem 1.4rem;
        margin: 0.5rem 0;
        border-radius: 1rem;
        border: 1px solid grey;
        display: inline-block;
    }
    #contact-container {
        h2 {
            margin-bottom: 3rem;
        }
        span {
            display: block;
            margin-bottom: 1rem;
            font-weight: 300;
        }
        padding: 5rem 0;
        width: 85%;
        margin: auto;
        .personal-info {
            display: flex;
            width: 100%;
            * {
                flex: 1;
                display: flex;
                flex-direction: column;
                * {
                    resize: none;
                    width: 100%;
                    display: inline-block;
                }
            }
        }
        .text-box {
            width: 100%;
            height: 10rem;
            display: inline-block;
            * {
                width: 100%;
                height: 100%;
            }
        }
        .checkbox {
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            input {
                margin: 0 1rem 0 0;
            }
            span {
                margin: 0;
            }
        }
    }
}

#trucks {
    #trucks-container {
        width: calc(40vw + 25rem);
        max-width: 80%;
        padding: 6rem 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 2rem;
            justify-content: space-between;
            font-size: 1.8rem;
            font-weight: 300;
            .row-text {
                width: 50%;
                padding: 0;
                display: contents;
                span {
                    transition: all .3s ease-in;
                    opacity: 0;
                }
            }
            .img-container {
                display: contents;
            }
            img {
                display: inline;
                width: calc(20vw + 10rem);
                height: auto;
            }
            .line {
                transition: all .3s ease-in;
                opacity: 0;
                margin: 0 2rem;
                flex-grow: 1;
                border-top: 1px solid grey;
                transform: translateY(50%);
            }
        }
    }
}

.reveal-left {
    position: relative;
    transform: translateX(-200%);
    transition: all .8s ease-in-out;
}

.reveal-left.active {
    transform: translateX(0);
}

@media only screen and(max-width: 1000px) {
    #about-image {
        display: none;
    }
    #about-container {
        padding: 3rem 0 !important;
    }
    #international-container {
        flex-direction: column !important;
        justify-content: right;
        #countries {
            flex-direction: column !important;
            margin: 0 0 0 47vw !important;
            justify-self: center !important;
        }
    }
    #partner-icons img:not(:first-child) {
        display: none;
    }
    #partners-container {
        padding: 4rem 0 !important;
    }
}

@media only screen and(max-width:800px) {
    .row {
        flex-direction: column !important;
        .line {
            display: none;
        }
    }
    .img-container img {
        margin-top: 1rem !important;
        width: 90% !important;
    }
}

@media only screen and(min-width:1000px) {
    #about-image {
        padding: 0rem 6rem;
    }
    .slideshow img {
        display: none;
    }
}

@media only screen and(min-width: 600px) {
    .personal-info {
        .left {
            margin-right: 0.5rem;
        }
        .right {
            margin-left: 0.5rem;
        }
    }
    .banner.second {
        padding-top: 0.5rem !important;
    }
}

@media only screen and(max-width: 600px) {
    .personal-info {
        flex-direction: column;
    }
}