// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Fonts
$font-size-base: 18px;
$font-size-mobile-base: 16px;
$line-height-base: 26px;
$line-height-text: 1.6;
$line-height-mobile-base: 20px;
$font-weight-base: 400;

$text-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Roboto', sans-serif;

/// Cross-project colors
$color-white: #fff;
$color-black: #000;
$color-gray: #707070;

/// Brand primary color
$brand-color-primary:$color-black;
$brand-color-secondary: $color-white;

// Transition time
$transition: all .2s cubic-bezier(.455,.03,.515,.955);
$transition-time-base: 0.3s;

// Easings
$ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$ease-out-expo:cubic-bezier(0.16, 1, 0.3, 1);
$ease-inout-expo: cubic-bezier(0.87, 0, 0.13, 1);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;