// main: ../main.scss
// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
  * Set up a decent box model on the root element
 +*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fadeInAnimation ease .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: .7vw;
    height: .5vw;
}

::-webkit-scrollbar-button {
    height: 0;
}

::-webkit-scrollbar-track-piece {
    background: #ccc
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}