// main: ../main.scss
// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

/**
 * Body text
**/

body {
    font-family: $text-font-stack;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    letter-spacing: 0.01em;
    color: $color-black;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-mobile-base;
        line-height: $line-height-mobile-base;
    }
}


/**
 * Paragraph text
**/

p {
    font-family: $text-font-stack;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-text;
    color: $color-white;
    padding: 0;
    margin: 0;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-mobile-base;
        line-height: $line-height-mobile-base;
    }
}


/**
 * Basic styles for links
**/

a {
    text-decoration: none;
    color: $color-white;
    font-size: $font-size-base;
    font-family: $text-font-stack;
    font-weight: 400;
    @include default-transition-duration($transition-time-base);
    @include media-breakpoint-down(sm) {
        font-size: $font-size-mobile-base;
    }
}

a:hover {
    color: rgb(219, 219, 219);
}


/**
 * Headings
**/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-black;
    font-family: $text-font-stack;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 0;
}

h1 {
    font-size: 30px;
    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
}


/**
 * Font weight
**/

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}


/**
 * Font family
+*/

.ff-roboto {
    font-family: $font-size-base !important;
}


/**
 * Text color
+*/

.c-black {
    color: $color-black !important;
}

.c-white {
    color: $color-white !important;
}

.c-brand-primary {
    color: $brand-color-primary !important;
}

.c-brand-secondary {
    color: $brand-color-secondary !important;
}

.c-gray {
    color: $color-gray !important;
}


/**
 * Background color
+*/

.bg-gray {
    background-color: $color-gray !important;
}

.bg-brand-primary {
    background-color: $brand-color-primary !important;
}

.bg-brand-secondary {
    background-color: $brand-color-secondary !important;
}