// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    box-shadow: none;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    transition: $transition;
    padding: 5px 25px;
    &-brand {
        background: $color-white;
        color: $brand-color-primary;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 5px 30px;
    }
    &[disabled] {
        pointer-events: none;
    }
    transition: all 0.1s ease-in-out;
}

.btn.light {
    color: white;
    border: 1px solid white;
}

.btn.dark {
    color: black;
    border: 1px solid black;
}

.btn:hover {
    transform: translateY(-3px);
}