// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------
/**
 * Form control
**/
.form-control {
    position: relative;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border: 1px solid $color-black;
    border-radius: 0px;
    font-family: $text-font-stack;
    color: $color-white;
    transition: $transition-base;
    background-color: transparent;
    box-shadow: none;
    height: 46px;

    @include media-breakpoint-down(sm) {
        padding: 4px 15px;
    }

    &:focus {
        color: $color-white;
        caret-color: $color-white;
        border: 1px solid $color-white;

        &::placeholder {
            color: $color-white;
        }
    }

    &::placeholder {
        color: $color-white;
        font-size: 16px;
        line-height: $line-height-base;
        font-weight: 300;
    }

    &.input-validation-error {
        border: 1px solid #FD0000 !important;
        color: #FD0000;

        &::placeholder {
            color: #FD0000;
        }
    }

    &[disabled] {
        background-color: rgba($color: $color-black, $alpha: .1);
        pointer-events: none;
    }
}

select {
    padding: 8px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    border: 1px solid $brand-color-primary;
    color: $brand-color-primary;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.522' height='7.175' viewBox='0 0 11.522 7.175'%3E%3Cpath id='Path_2011' data-name='Path 2011' d='M0,0,5.054,5.054,0,10.108' transform='translate(10.815 0.707) rotate(90)' fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");

    option {
        background: $brand-color-secondary;
        color: $color-black;
        border: none !important;
    }

    &.input-validation-error {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.522' height='7.175' viewBox='0 0 11.522 7.175'%3E%3Cpath id='Path_2011' data-name='Path 2011' d='M0,0,5.054,5.054,0,10.108' transform='translate(10.815 0.707) rotate(90)' fill='none' stroke='%23fd0000' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
}

.validation-summary-errors {
    background-color: #dc3545;
    border: 0 solid #dc3545;
    color: #fff;
    padding: 1px 15px;

    ul {
        margin-bottom: 10px;
    }
}

.validation-summary-errors #errorList {
    margin-left: 10px !important;
    padding-left: 10px;
}

.validation-summary-errors li {
    list-style-type: none;
    margin: 5px 0;
    color: $color-white;
}

.validation-summary-errors ul li:before {
    background-image: url("/assets/img/icons/ci-warning.svg");
    background-repeat: no-repeat;
    background-size: 19px 26px;
    display: inline-block;
    width: 30px;
    height: 31px;
    content: "";
    background-position: 0 10px;
}

.form-check-input:checked~.form-check-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.269' height='8.65'%3E%3Cpath data-name='Path 1033' d='M1.414 4.78l2.994 2.87 3-2.87 3.447-3.366' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}
.form-check-input:checked~.form-check-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.269' height='8.65'%3E%3Cpath data-name='Path 1033' d='M1.414 4.78l2.994 2.87 3-2.87 3.447-3.366' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}
.form-check-input:indeterminate~.form-check-label::after {
    background-image: none !important;
}

.form-check-input[type=checkbox] {
    display: none;
}

.form-check .form-check-label {
    font-family: $text-font-stack;
    color: $color-white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;

    @include media-breakpoint-down(sm) {
        font-size: 10px !important;
        line-height: 15px !important;
    }

    &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        border: 1px solid rgba($color: $color-white, $alpha: .45);
        width: 12px;
        height: 12px;
        border-radius: 0;
        box-shadow: none;
        left: -24px;
        top: 1px;

        @include media-breakpoint-down(sm) {
            width: 12px;
            height: 12px;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 12px !important;
        height: 9px !important;
        background-size: 100% 100%;
        left: -22.5px !important;
        top: 2px;
        background-repeat: no-repeat;

        @include media-breakpoint-down(sm) {
            width: 12px;
            height: 12px;
            left: -1.5rem;
            background-size: 70% 70%;
            top: 0.1rem;
        }
    }

    @include media-breakpoint-down(md) {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        padding-top: 2px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 0px;
    }
}