<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<footer>
    <div class="footer-container">
        <section id="upper">
            <div class="logo">
                <img src="../assets/img/icons/logo.png" alt="Company logo">
            </div>
            <div class="info">
                <div>
                    <span>TLS, d.o.o.</span>
                    <span>Sp. Rečica 6</span>
                    <span>3270 Laško</span>
                </div>
                <div>
                    <span>Telefon: +386 3 734 33 26</span>
                    <span>Mobitel: +386 31 304 000</span>
                    <span></span>
                    <span>E-mail: transport@tls-lasko.si</span>
                </div>
            </div>
        </section>
        <section id="lower">
            <a href="#" class="link">Dizajn in izvedba Medias Kreativ, programiranje TriTim</a>
            <a href="#" class="link">Sofinanciranje</a>
            <a href="#" class="link">Pogoji poslovanja</a>
            <a href="#" class="link">Piškotki</a>
        </section>
    </div>
</footer>