<nav>
    <div id="nav-container">
        <a id="nav-logo" href="../index.html">
            <img src="../assets/img/icons/logo.svg" alt="">
        </a>
        <div id="nav-links">
            <a href="#" class="link">
                SLO&nbsp
                <img src="../assets/img/icons/arrow.svg" alt="">
            </a>
            <a href="#" class="link">
                <img src="../assets/img/icons/cart.svg" alt="">
            </a>
            <a href="#" class="link">
                <img src="../assets/img/icons/profile.svg" alt="">
            </a>
            <a href="#" class="link" id="hamburger">
                <img src="../assets/img/icons/hamburger.svg" alt="">
            </a>
        </div>
</nav>
<section id="menu">
    <div class="top-bar">
        <div class="top-bar-container">
            <a href="../index.html">
                <img src="../assets/img/icons/logo.svg" alt="Logo">
            </a>
            <a href="#">
                <img id="close" src="../assets/img/icons/cross.svg" alt="Cross icon">
            </a>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div class="left-container">
                <a href="../o_nas.html">O NAS</a>
                <a href="#">TRANSPORT</a>
                <a href="#">POSLOVNO SVETOVANJE</a>
                <a href="#">TRGOVINA</a>
                <a href="#">SOFINANCIRANJE</a>
            </div>
        </div>
        <div class="right"></div>
    </div>
</section>