nav {
    transition: all .1s ease-in;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    #nav-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav-logo {
        flex: 1;
        img {
            height: 2.5rem;
        }
    }
    #nav-links {
        justify-content: flex-end;
        flex: 10;
        display: flex;
        .link {
            margin: 0.2rem 1rem;
            transition: all .1s !important;
            transition-timing-function: cubic-bezier(0, .54, 0, .95);
            img {
                transition: all .1s;
                transition-timing-function: cubic-bezier(0, .54, 0, .95);
            }
        }
        .link:hover {
            transform: scale(1.15);
        }
    }
}

#menu {
    transition: all .5s;
    transition-timing-function: cubic-bezier(0, .54, 0, .95) reverse;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    // width: 100vw;
    width: 0;
    overflow: hidden;
    background-color: #212121;
    .top-bar {
        padding: 3rem 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .top-bar-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        img {
            height: calc(2rem + 1vw);
            width: auto;
        }
        a:hover {
            transform: scale(1.1);
        }
    }
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        .left {
            flex: 1;
            border-right: 1px solid white;
            display: flex;
            align-items: center;
        }
        .left-container {
            transition: all .5s;
            transition-timing-function: cubic-bezier(0, .54, 0, .95) reverse;
            transform: translateX(-200%);
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                padding-bottom: 1rem;
            }
            a:hover {
                transform: translateY(-3px);
            }
        }
        .right {
            flex: 1;
            width: 100%;
            background-image: url("../img/images/david-talley-FWCjJ7VNm-k-unsplash.png");
            background-size: cover;
            background-position: center;
            img {
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
    }
}

@media only screen and(max-width: 600px) {
    .left {
        border: none !important;
    }
    .right {
        display: none;
    }
}